*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 50px;
}

.grid{
    border: .1px solid black;
    flex: 0 1 auto;
}